################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestSetUp/bin/Debug/TestSetUp.exe.config
/TestSetUp/bin/Debug/TestSetUp.vshost.exe
/TestSetUp/bin/Debug/TestSetUp.vshost.exe.config
/TestSetUp/bin/Debug/TestSetUp.vshost.exe.manifest
/TestSetUp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/TestSetUp/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/TestSetUp/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/TestSetUp/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/TestSetUp/obj/Debug/TestSetUp.csproj.FileListAbsolute.txt
/TestSetUp.v11.suo
